*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/dictionaries
/.idea/codeStyles
/.idea/gradle.xml
.DS_Store
/build
/javadoc
/captures
.externalNativeBuild
.cxx
local.properties
